* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --color-primario: #eead4a;
  --color-fondo: #071f3e;;
  --color-texto: #fff4f8;
  --fuente-base: "Abril Fatface", serif;
}
body {
  font-family: var(--fuente-base);
  background-color: var(--color-fondo);
  color: var(--color-texto);
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}


header {
  background-color:#071f3e;
  color: #fff4f8;
  font-size: 3.5rem;
  letter-spacing: 2px;  
  padding: 40px 0;
  text-align: center;
  font-size: 30px;
   border-bottom: 8px solid #fff4f8;
}
header h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3.5rem;
  letter-spacing: 2px;
  margin-bottom: 8px;
}
header p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 12px;
  opacity: 0.85;
}

nav {
    background-color: #071f3e;
    padding: 16px 0;
}

nav ul {
  display: flex;
  gap: 40px;
  justify-content: center;
}
nav li {
    list-style: none;
    font-weight: 600;
}
nav a {
  color: #fff4f8;
  text-decoration:none;
  font-family: 'Raleway', sans-serif;
}
nav a:hover {
  opacity: 0.5;
  transition: 0.2s;
}
.hero {
  background-image: url(/Images/pexels-234741447-12432817.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  padding: 150px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5); 
}
.hero > * {
  position: relative;
  z-index: 2;
}

.hero div {
  max-width: 500px;
}
.hero h2 {
  font-size: 2.4rem;
  margin-bottom: 16px;
}
.hero p {
    background-color: #fff4f8;
    opacity: 0.5;
    font-family: 'Raleway', sans-serif;
    color: #071f3e;
    padding: 8px;  
}
.hero button {
  margin-top: 20px;
  padding: 14px 28px;
  border-radius: 8px;
  border: none;
  background-color:#f47729;
  color: #fff4f8;
  font-weight: bold; 
  cursor: pointer;
}
.recomendaciones {
  padding: 60px 80px;
}
.Recomendaciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.recomendaciones h2 {
  font-size: 2.2rem;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-align: center;
}
.recomendaciones article {
  text-align: center;
}
.recomendaciones article img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto 16px;
  border-radius: 6px;
}
.recomendaciones h3 {
  font-size: 1.2rem;
  margin-bottom: 4px;
}
.portadasrec {
    display: flex;
    gap: 60;
    justify-content: space-evenly;
}

 .recomendaciones p {
    font-family:'Raleway', sans-serif;
}
.cta-recs {
    padding: 50px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.5px;
}